<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see the configuration reference: https://specflow.org/documentation/Configuration/ -->
    <unitTestProvider name="NUnit" />
    <stepAssembly assembly="selenium-csharp-automation" />
  </specFlow>

</configuration>
